@model List<JJFC.Web.Models.Database.Position>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Jiu Jitsu Flow Chart</h1>
    <div class="row">
        
        @foreach (var position in Model)
        {
            <div class="col-4">
                <div class="card position-card" data-src="@position.Id">
                    <img class="card-img-top" src="@position.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@position.Name</h5>
                    </div>
                </div>
            </div>
        }

    </div>
</div>