@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Jiu Jitsu Flow Chart</h1>
    <div class="row">
        <div class="col-4">
            <div class="card position-card" data-src="./PositionsandSubmissions/guard.html">
                <img class="card-img-top" src="https://bjj-world.com/wp-content/uploads/2020/07/Untitled.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Guard</h5>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card position-card" data-src="./PositionsandSubmissions/sidemount.html">
                <img class="card-img-top" src="https://www.bjj-spot.com/wp-content/uploads/2018/02/Screenshot_34-2.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Side Mount/Control</h5>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card position-card" data-src="./PositionsandSubmissions/kneemount.html">
                <img class="card-img-top" src="https://www.grapplearts.com/wp-content/uploads/2016/09/knee-on-belly-1000.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Knee on Belly</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card position-card" data-src="./PositionsandSubmissions/fullmount.html">
                <img class="card-img-top" src="https://bjj.tv/wp-content/uploads/2020/08/Roger-Gracie-teaching-Mount-Position-in-BJJ.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Full Mount</h5>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card position-card" data-src="./PositionsandSubmissions/rearmount.html">
                <img class="card-img-top" src="https://www.grapplearts.com/wp-content/uploads/2016/06/rear-mount-1024x565.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Rear Mount</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card position-card" data-src="./PositionsandSubmissions/turtle.html">
                <img class="card-img-top" src="https://bjj-world.com/wp-content/uploads/2021/01/turtlebjjinstructionals.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Turtle</h5>
                </div>
            </div>
        </div>
    </div>
</div>