@model List<Position>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Your Flow</h1>
    <div class="row">
        
        @foreach (var position in Model)
        {
            <div class="col-4">
                <div id="position-card" class="card position-card" data-src="@position.Id">
                    <img class="card-img-top" src="@position.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@position.Name</h5>
                        <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="UpdateVisible" asp-route-id="@position.Id">Remove</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>